@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Neucha&family=Oxygen:wght@300&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  font-family: "Neucha", cursive;
  display: flex;
  justify-content: center;
}
.heading {
  font-size: 40px;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
